body {
  font-family: Arial, Helvetica, sans-serif; 
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to right, #8f39db, #dd8cef);
}
header img {
  width: 150px; 
}
h1 {
  color: #fff;
  font-family: Georgia, serif; 
}


nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
nav li {
  display: inline-block;
  
}
nav a {
  color: #302f2f; 
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  font-family: Arial, sans-serif; 
}
nav a:hover {
  color: #3f0c48; 
}

/* Main content */
main {
  padding: 20px;
}

/* Hero section */
.hero {
  text-align: center;
  margin-bottom: 20px;
}
.hero h2 {
  color: #6f42c1; 
  margin-bottom: 10px; 
  font-size: 1.8rem;
  font-family: Georgia, serif; 
}
.hero p {
  color: #333; 
  line-height: 1.5; 
}

/* Blog posts section */
.blog-posts {
  background-color: #f1f1f1; 
  padding: 20px;
}
article {
  margin-bottom: 20px;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  padding: 15px;
  background-color: #fff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}
article h3 {
  color: #b442c1; 
  margin-bottom: 5px; 
}
article a {
  color: #b442c1; 
  margin-bottom: 5px; 
}
article p {
  color: #333; 
  line-height: 1.5; 
}
article .info {
  font-size: 0.8rem; 
  color: #838181; 
  margin-top: 5px; 
}
article .info span {
  margin-right: 10px; 
}
article img {
  width: 100%; 
  margin-bottom: 10px; 
}

 /* Footer */
 footer {
  text-align: center;
  padding: 10px;
  background-color: #2c0733; 
}
footer p {
  color: #fff8f8;
} 
footer a {
  color: #ffffff; 
}

  
  
  
  